langchain
langchain-openai
beautifulsoup4
click
requests
chromadb
sentence-transformers
torch
tqdm
numpy
pandas
matplotlib
scikit-learn
huggingface-hub
transformers
regex
nltk
jupyterlab
ipywidgets
seaborn
pillow